#main-section {
  padding-top: 0;
}

/* Used for the table sorting */
table thead tr th:after {
	position: absolute;
	right: 2px;
}

table thead tr th.sort-asc:after {
	content: "\25b4";
}

table thead tr th.sort-desc:after {
	content: "\25be";
}

html[lang="he"] {
    dir: rtl;
    text-align: right;
}

div[lang="he"] {
    dir: rtl;
    text-align: right;
}
.rashi {
    font-family: 'Noto Rashi Hebrew', serif;
}

