<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item {% if page == "index" %}is-active{% endif %}" href="/">
        Kaza
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link {% if page == "gramer" %}is-active{% endif %}">
          Gramer
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/gramer">
            Biervos de la gramer
          </a>
          <a class="navbar-item" href="/pronombres">
            Pronombres
          </a>
          <a class="navbar-item" href="/ser">
            ser
          </a>
          <a class="navbar-item" href="/estar">
            estar
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link {% if page == "listas" %}is-active{% endif %}">
          Listas
        </a>
        <div class="navbar-dropdown">
          <a class="navbar-item" href="/egzempios/">
            Egzempios
          </a>
          <a class="navbar-item" href="/words/ladino/">
            Palavras en ladino
          </a>
          <a class="navbar-item" href="/missing/">
            Traduksiones ke faltan
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="/lists">Listas</a>
          <a class="navbar-item" href="/dictionaries">Diksionaryos</a>
        </div>
      </div>

      <a class="navbar-item {% if page == "whatsapp" %}is-active{% endif %}" href="/whatsapeando/">
        Whatsapp
      </a>
      <a class="navbar-item {% if page == "ufad" %}is-active{% endif %}" href="/ufad/">
        Una fraza
      </a>
      <a class="navbar-item" href="/echar-lashon">
        Echar Lashon
      </a>
      <a class="navbar-item {% if page == "afishes" %}is-active{% endif %}" href="/afishes/">Afishes</a>
      <a class="navbar-item {% if page == "livros" %}is-active{% endif %}" href="/livros/">Livros</a>
      <a class="navbar-item {% if page == "statistika" %}is-active{% endif %}" href="/statistika">Statistika</a>
      {% if page == "index"  %}
      <a class="navbar-item " id="show-game">
        Djugo
      </a>
      <div class="buttons" id="show-config">
          <a class="button is-light">
            Konfig
          </a>
      </div>
      {% endif %}
    </div>


    <div class="navbar-end">
      <a class="navbar-item {% if page == "english" %}is-active{% endif %}" href="/en/">English</a>
      <a class="navbar-item {% if page == "spanish" %}is-active{% endif %}" href="/es/">Español</a>
      <a class="navbar-item {% if page == "hebrew" %}is-active{% endif %}" href="/he/">עברית</a>
    </div>
  </div>
</nav>


