    <div class="content">
    <hr>
    Estamos Whatsapeando es un grupo de WhatsApp de Albert Israel, shefe del sirkolo de konservar i promover la kultura sefaradi.<br>
    Kada unos kuantos dias el manda un mesaje.<br>
    Aki puedes meldar i oir algunos mesajes.<br>
    Para registrar al grupo de WhatsApp, manda un mesaje a <a href="https://szabgab.com/contact.html">Gabor</a> kon tu numero telefono, tu nombre, tu alkunya, i demanda resivir los mesajes de Albert. Yo vo a transmeter tu demanda a el.<br>
    Los mesajes se pueden ver tambien en <a href="https://ladinokomunita.groups.io/">Ladinokomunita</a>.
    <hr>
    </div>
