blinker==1.9.0
charset-normalizer==3.4.3
click==8.3.0
coverage==7.10.7
Flask==3.1.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
Markdown==3.9
MarkupSafe==3.0.2
packaging==25.0
pillow==11.3.0
pluggy==1.6.0
Pygments==2.19.2
pytest==8.4.2
pytest-cov==7.0.0
pytest-cover==3.0.0
pytest-random-order==1.2.0
PyYAML==6.0.2
reportlab==4.4.4
Werkzeug==3.1.3
