{% set title="הפינה של לאדינו באינטרנט" %}
{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
המטרה שלנו היא לעזור לאנשים שלומדים לאדינו או שרוצים להשתפר בשפה.

    <div class="content" dir="rtl">
        <h2>קריאה</h2>
        <ul>
            <li>קבוצת הדיון <a href="https://ladinokomunita.groups.io/">לאדינוקומוניתה</a> מכילה חומר רב בלאדינו</li>
        </ul>
        <h2>מילון</h2>
        <ul>
            <li>המילון של <a href="http://folkmasa.org/milon/pmilonh.htm">דר. אבנר פרץ</a></li>
            <li>המילון של מתילדה כהן-סראנו</li>
        </ul>

    </div>

{% include 'incl/footer.html' %}
