{% set title="הפינה של לאדינו באינטרנט" %}
{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
המטרה שלנו היא לעזור לאנשים שלומדים לאדינו או שרוצים להשתפר בשפה.

    <div class="content" dir="rtl">
        <h2>קריאה</h2>
        <ul>
            <li>קבוצת הדיון <a href="https://ladinokomunita.groups.io/">לאדינוקומוניתה</a> מכילה חומר רב בלאדינו.</li>
        </ul>
        <h2>מילון</h2>
        <ul>
            <li>המילון של <a href="http://folkmasa.org/milon/pmilonh.htm">דר. אבנר פרץ</a>.</li>
            <li>המילון של מתילדה כהן-סראנו.</li>
        </ul>

        <h2>קורס מוקלט</h2>
        <a href="https://www.youtube.com/watch?v=H8Pt-AS0ppM&list=PL26BCA5DA78235E0D">קורס לאדינו מוקלט לדוברי עברית</a>

        <h2>ספרים</h2>
        באתר של <a href="http://www.salonikaheritage.com/">המרכז למורשת יהדות שאלוניקי ויוון ע"ש ליאון רקנאטי</a> אפשר למצוא רשימה של ספרים למכירה.

        <h2>קורסים</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=a4xOMWjxtXw">קורס לאדינו בחולון</a></li>
            <!-- <li><a href=""></a></li> -->
        </ul>

    </div>

{% include 'incl/footer.html' %}
