{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div>
       This site is based on the dictionary provided by Güler Orgun, Ricardo Portal i Antonio Ruiz Tinoco and more specifically
       the Excel file from the <a href="https://ladinokomunita.groups.io/">Ladinokomunita</a>. (currently we are in the process of
       integrating the data from that file into the site.)
       In addition the site includes lots of words and expressions from the course created for <a href="https://librelingo.app/">LibreLingo</a>.
       The source code of the LibreLingo data can be found in <div><a href="https://github.com/szabgab/LibreLingo-Judeo-Spanish-from-English">this repository</a>.
       The files from the Ladinokomunita dictionary can be found in <a href="https://github.com/szabgab/ladino-diksionaryo-data">this repository</a>.
       This site was created and is being maintained by Gabor Szabo.
    </div>
    <div class="content">
       The license of the content is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0: Attribution-ShareAlike 4.0 International</a>
    </div>
    <div class="content">
      <h2>LibreLingo course</h2>
       <p>
           Statistics for the data included from the LibreLingo Ladino for English speakers course.
       </p>

      <table class="table">
        <thead>
          <tr><th></th>        <th>Ladino</th>                           <th>English</th></tr>
        </thead>
        <tbody>
          <tr><th>Words</th>   <td>{{ count.target_words }}</td>         <td>{{ count.source_words }}</td></tr>
          <tr><th>Phrases</th> <td>{{ count.target_phrases }}</td>       <td>{{ count.source_phrases }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      <h2>Dictionary</h2>
       <p>
           Statistics for the data based on the dictionary from the Ladino community.
       </p>
      <table class="table">
        <thead>
          <tr><th></th>
            <th>ladino</th>
            {% for language in languages %}
                 <th>{{ language }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr><th>Words</th>
                <td>{{ count.dictionary['ladino'].words }}</td>
            {% for language in languages %}
                <td>{{ count.dictionary[language].words }}</td>
            {% endfor %}
          </tr>
          <tr><th>Phrases</th>
                <td>{{ count.dictionary['ladino'].phrases }}</td>
            {% for language in languages %}
                <td>{{ count.dictionary[language].phrases }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>

    </div>
    <div class="content">
      <ul>
        <li>On the <a href="/">home page</a> you will be able to see the translation of each word you type in.
            We don't try to understand the context or the full expression. It is still your job to decide which meaning of a word is relevant in the specific context.
        </li>
        <li>
          You can see the list of all the words we currently have in <a href="target.html">Ladino</a> and in <a href="source.html">English</a>.
        </li>
      </ul>
    </div>

{% include 'incl/footer.html' %}
