{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div><a href="{{ course.repository_url }}">Repository</a></div>
    <div class="content">
       License: {{ course.license.name }}: <a href="{{ course.license.link }}">{{ course.license.full_name }}</a>
    </div>
    <div class="content">
      <h2>LibreLingo course</h2>
       <p>
           Statistics for the data included from the LibreLingo Ladino for English speakers course.
       </p>

      <table class="table">
        <thead>
          <tr><th></th>        <th>{{ count.target_language_name }}</th> <th>{{ count.source_language_name }}</th></tr>
        </thead>
        <tbody>
          <tr><th>Words</th>   <td>{{ count.target_words }}</td>         <td>{{ count.source_words }}</td></tr>
          <tr><th>Phrases</th> <td>{{ count.target_phrases }}</td>       <td>{{ count.source_phrases }}</td></tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      <h2>Dictionary</h2>
       <p>
           Statistics for the data based on the dictionary from the Ladino community.
       </p>
      <table class="table">
        <thead>
          <tr><th></th>
            {% for language in languages %}
                 <th>{{ language }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr><th>Words</th>
            {% for language in languages %}
                <td>{{ count.dictionary[language].words }}</td>
            {% endfor %}
          </tr>
          <tr><th>Phrases</th>
            {% for language in languages %}
                <td>{{ count.dictionary[language].phrases }}</td>
            {% endfor %}
          </tr>

        </tbody>
      </table>
    </div>
    <div class="content">
      <ul>
        <li>
             Sources: <a href="https://librelingo.app/">LibreLingo courses</a>
        </li>
        <li>On the <a href="/">home page</a> you will be able to see the translation of each word you type in.
            We don't try to understand the context or the full expression. It is still your job to decide which meaning of a word is relevant in the specific context.
        </li>
        <li>
          You can see the list of all the words we currently have in <a href="target.html">{{ course.target_language.name }}</a> and in <a href="source.html">{{ course.source_language.name }}</a>.
        </li>
      </ul>
    </div>

{% include 'incl/footer.html' %}
