{% include 'incl/header.html' %}

<div>
Type in words in any of the following languages: Ladino, English, Spanish, Turkish, French, Portuguese, or Hebrew and we'll do our best to show all the other translations.
Click on the Ladino words for more details.
<textarea class="textarea" id="input-text">
</textarea>
</div>
<!--
<div>
<button class="button" id="ladino-to-english">Ladino to English</button>
<button class="button" id="english-to-ladino">English to Ladino</button>
</div>
-->
<div id="output">
<div>

<script src="/js/converter.js"></script>


{% include 'incl/footer.html' %}
