{% include 'incl/header.html' %}

  <h1 class="title">{{ title }} - Modules</h1>
  <div class="content">
   The <a href="https://librelingo.app/">LibreLingo courses</a> are divided into modules and each module is divided into skills.
   On the this page you can find the full list of modules and skills of the Ladino for English speakers course. It was included here to
   aid the developers of this site, but probably not all that useful to anyone else.
  </div>
  <div class="content">
    <ul>
      {% for module in course.modules %}
        <li>{{ module.title }}
          <ul>
            {% for skill in module.skills %}
              <li>
                 <a href="course/{{ module.filename }}/skills/{{ skill.filename | skillfile }}.html">{{ skill.name }}</a>
                 (<a href="{{ repository_url }}/blob/{{ branch }}/course/{{ skill.filename }}"><span class="icon fa-github"></span></a>)
              </li>
            {% endfor %}
          </ul>
        </li>

      {% endfor %}
    </ul>
  </div>


{% include 'incl/footer.html' %}
