{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>

    <div class="content">
      <h2>Goals</h2>
      <ul>
        <li>Create a comprehensive dictionary of Ladino with translation to several languages using free and libre materials.</li>
        <li>Include examples and explanations on the use of the words in different locations.</li>
        <li>Provide tools for students of Ladino to make it easier to learn the language.</li>
      </ul>
    </div>

    <div class="content">
      <h2>How to use</h2>
      <ul>
        <li>On the <a href="/">home page</a> you will be able to see the translation of each word you type in.</li>
        <li>Under <b>Konfig</b> you can select which languages to display.</li>
        <li>Feel free to type in words in Ladino or any of the languages you selected.
            If we recognize it as a word in Ladino we'll display it and its translations.
            If it is not in our list of Ladino words we'll try to see if it is a word in one of the other languages. If it is we'll show the Ladino translation and its meanings.
        </li>
        <li>We don't try to understand the context or the full expression. It is still your job to decide which meaning of a word is relevant in the specific context.</li>
        </li>
      </ul>
    </div>

    <div class="content">
      <h2>Source of the content</h2>
      <ul>
        <li>This site is based on the dictionary created by Güler Orgun, Ricardo Portal, and Antonio Ruiz Tinoco.</li>
        <li>More specifically it is based on the Excel file from the <a href="https://ladinokomunita.groups.io/">Ladinokomunita</a>.</li>
        <li>It is created by the enourmous countribution of the members of the Ladinokomunita and espcially its moderators: Rachel Amado Bortnick (founder), Yehuda Hatsvi, Aldo Sevi, Guler Orgun, and Moshe Gormez.</li>
        <li>The <a href="/whatsapeando">WhatsApp messages</a> were created by Albert Israel.</li>
        <li>The site was created and is being maintained by <a href="https://szabgab.com/">Gabor Szabo</a>. All errors are mine. Please report them via email or via the Git repositories below so I can fix them.</li>
        <li>Many words and most of the categorizations are based on the posters of dr. Aldo Sevi of <a href="https://www.facebook.com/groups/ladinadores">Los Ladinadores</a> in Facebook.</li>
      </ul>
    </div>

    <div class="content">
      <h2>Source and License</h2>
      <ul>
        <li>The source code of the web application can be found <a href="https://github.com/djudezmo-org/ladino-diksionaryo-code/">here</a>.</li>
        <li>The license of the source code is <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero General Public License</a>.</li>
        <li>The files containing the dictionary data can be found in the <a href="https://github.com/djudezmo-org/ladino-diksionaryo-data">Ladino diksionaryo data repository</a>.</li>
        <li>The license of the dictionary data is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0: Attribution-ShareAlike 4.0 International</a></li>
        <li>The sound files of words and examples can be found in the <a href="https://github.com/djudezmo-org/ladino-diksionaryo-sounds/">Ladino diksionaryo sounds repository</a>.</li>
        <li>The license of the sound files is <a href="https://creativecommons.org/licenses/by-sa/4.0/">Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)</a></li>
        <li>The files containing the WhatsApp messages can be found in the <a href="https://github.com/djudezmo-org/ladino-estamos-whatsapeando/">Ladino estamos Whatsapeando repository</a></li>
        <li>The license of the WhatsApp messages is <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0: Attribution-NonCommercial-NoDerivatives 4.0 International</a></li>
      </ul>
    </div>

    <div class="content">
      <h2>How and what to contribute</h2>
      <ul>
        <li>Adding more Ladino words and adding the different forms of the words.</li>
        <li>Adding sentences in Ladino that show the usage of the words in context. (Including the translations to one or more of our languages.)</li>
        <li>Adding sentences that explain the meaning of words. (Including translations as well.)</li>
        <li>Correcting the existing translations</li>
        <li>Providing translations for the words where we are still missing the translations.</li>
      </ul>
      <ul>
        <li><a href="https://szabgab.com/contact.html">Contact Gabor Szabo</a> to discuss how could you get involved.</li>
        <li>Both the source code of the application and the source of all the content are in Git repositories listed above. If you know how those work you can contribute there.</li>
        <li>Ladino words and texts should be sent via the <a href="https://ladinokomunita.groups.io/">Ladinokomunita</a></li>
      </ul>
    </div>

    <div class="content">
      <h2>(Learning) Game</h2>
       <p>
            There is an experimental learning game that is accessible from the front page by clicking "Djugo" in the menu.
            It will show random words in Ladino. Then you can try to guess the word. Pressing the "Reveal" button you will see the translations.
            At this point you can confirm that you guessed correctly (OK) or that you failed to guess correctly (Fail). Based on a spaced repetion algorightm
            you will see the same word appear again. If at this point you are not interested to learn this word you can click <b>Later</b> and it will be put back to the list of random words.

            We maintain 2 lists. One for words that were last time marked as "OK" and one for the words marked as "Fail". (And we have the pool of all the words.)
            When the user clickes OK or Failure the word is placed at the end of the appropriate queue.
            if we have less than 10 words in the two lists, pick from the pool.
            If there are 10 or more then: 50% pick the first one from the "failed", 25% pick the first from the "ok" list 25% pick from the general pool (till we have a word that is not in the other two lists).
       </p>
    </div>

    <div class="content">
      <h2>Statistics</h2>
       <p>
           Statistics for the data based on the dictionary from the Ladino community.
       </p>
      <table class="table">
        <thead>
          <tr><th></th>
            <th><a href="/words/ladino/">ladino</a></th>
            {% for language in languages %}
                 <th><a href="/words/{{ language }}/">{{ language }}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr><th>Words</th>
                <td>{{ count.dictionary['ladino'].words }}</td>
            {% for language in languages %}
                <td>{{ count.dictionary[language].words }}</td>
            {% endfor %}
          </tr>
          <tr><th>Examples</th>
                <td>{{ count.dictionary['ladino'].examples }}</td>
            {% for language in languages %}
                <td>{{ count.dictionary[language].examples }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
      <div>
      {% if count.whatsapp %}
      <h3>Whatsapp Messages</h3>
      <table class="table">
        <thead>
          <tr><th>All</th><th>With Hebrew</th></tr>
        </thead>
        <tbody>
          <tr><td>{{ count.whatsapp.all }}</td><td>{{ count.whatsapp.hebrew }}</td></tr>
        </tbody>
      </table>
      </div>
      {% endif %}
    </div>
    <div class="content">
      Generated at {{start}}.<br>
      Processing time to generate the site: {{elapsed}} seconds.
    </div>

{% include 'incl/footer.html' %}
