{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">
      <ul>
        <li>This site is based on the dictionary created by Güler Orgun, Ricardo Portal i Antonio Ruiz Tinoco.</li>
        <li>More specifically it is based on the Excel file from the <a href="https://ladinokomunita.groups.io/">Ladinokomunita</a>.</li>
        <li>It is created by the enourmous countribution of the members of the Ladinokomunita and espcially its moderators: Rachel Amado Bortnick (founder), Yehuda Hatsvi, Aldo Sevi, Guler Orgun, and Moshe Gormez.</li>
        <li>The <a href="/whatsapeando">WhatsApp messages</a> were created by Albert Israel.</li>
        <li>On the <a href="/">home page</a> you will be able to see the translation of each word you type in.
            We don't try to understand the context or the full expression. It is still your job to decide which meaning of a word is relevant in the specific context.
        </li>
        <li>The site was created and is being maintained by <a href="https://szabgab.com/">Gabor Szabo</a>. All errors are mine. Please report them via email or via the Git repositories below so I can fix them.</li>
      </ul>
    </div>

    <div class="content">
      <ul>
        <li>The source code of the application can be found <a href="https://github.com/szabgab/ladino-diksionaryo-code/">here</a>.</li>
        <li>The files containing the dictionary data can be found in the <a href="https://github.com/szabgab/ladino-diksionaryo-data">Ladino diksionaryo data repository</a>.</li>
        <li>The license of the dictionary is <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0: Attribution-ShareAlike 4.0 International</a></li>
        <li>The files containing the WhatsApp messages can be found in the <a href="https://github.com/szabgab/ladino-estamos-whatsapeando/">Ladino estamos Whatsapeando repository</a></li>
        <li>The license of the WhatsApp messages is <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0: Attribution-NonCommercial-NoDerivatives 4.0 International</a></li>
      </ul>
    </div>
    <div class="content">
      <h2>Dictionary</h2>
       <p>
           Statistics for the data based on the dictionary from the Ladino community.
       </p>
      <table class="table">
        <thead>
          <tr><th></th>
            <th><a href="/words/ladino/">ladino</a></th>
            {% for language in languages %}
                 <th><a href="/words/{{ language }}/">{{ language }}</a></th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          <tr><th>Words</th>
                <td>{{ count.dictionary['ladino'].words }}</td>
            {% for language in languages %}
                <td>{{ count.dictionary[language].words }}</td>
            {% endfor %}
          </tr>
          <tr><th>Examples</th>
                <td>{{ count.dictionary['ladino'].examples }}</td>
            {% for language in languages %}
                <td>{{ count.dictionary[language].examples }}</td>
            {% endfor %}
          </tr>
        </tbody>
      </table>
    </div>
    <div class="content">
      Generated at {{start}}.<br>
      Processing time to generate the site: {{elapsed}} seconds.
    </div>

{% include 'incl/footer.html' %}
