{% include 'incl/header.html' %}

  <h1 class="title">{{ title }}</h1>
  <div class="content">

    <table class="table is-striped is-hoverable">
      <thead>
        <tr>
           <th>Ladino</th>
            {%- for lang in languages %}
               <th>{{ lang }}</th>
            {% endfor -%}
        </tr>
      </thead>
      <tbody>
        {%- for word in words -%}
           {%- for version in word['versions'] %}
              <tr>
                  <td><a href="/words/ladino/{{ version['ladino'].lower() }}">{{ version['ladino'] }}</a> {% if version['accented'] %}({{ version['accented'] }}){% endif %}
                        {% for alt in version['alternative-spelling'] %}
                            {{ alt['ladino'] }} {% if alt['accented'] %}({{ alt['accented'] }}){% endif %}
                        {% endfor %}
                  </td>
                  {%- for lang in languages %}
                     <td>{%- for trans in version.translations[lang] -%}{{ trans }}{%- if not loop.last -%}, {% endif -%}{%- endfor %} </td>
                  {% endfor -%}
              </tr>
           {% endfor %}
        {%- endfor -%}
      </tbody>
    </table>
  </div>

{% include 'incl/footer.html' %}
