{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>

    <div class="content">
      <ul>
        {% for language in languages %}
          <li><a href="/ladino-{{language}}">ladino - {{language}}</a></li>
          <li><a href="/{{language}}-ladino">{{language}}-ladino</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="content">
      <a href="https://github.com/kantoniko/kantoniko.github.io/actions/runs/{{github_run_id}}">Deskargar todo aki</a>.
    </div>

{% include 'incl/footer.html' %}

