{% set title = "Echar Lashon" %}
{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>

    <div class="content">
        <div>
          Keremos krear varias oportunidades para avlar en ladino.
        </div>
        <div>
          Kada semana en lunes i en myerkoles a las 7 an la tadre ora Yerushalayim organizamos enkontros en Zoom ande podemos echar lashon. (Tener una konversasion sin buto espesial.)
          Para partisipar en muestros enkontros:
            <ul>
                <li>Puedes resivir notifikasiones de muestros enkontros kon el atadijo a zoom en muestro grupo de WhatsApp. Manda un mesaj a <b>gabor@szabgab.com</b> kon tu numero de telefon i eskrive ke keres entrar musetro grupo Ladino.</li>
            </ul>
        </div>

<!--
        <div>
        Los proksimos enkontros van a estar en estos tiempos:
        </div>
        <div>
        <h4 class="title is-4"><span class="localdate" x-schedule="2022-07-13T19:00:00+03:00"></span></h4>
        </div>
-->
    </div>

{% include 'incl/footer.html' %}

