{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">
      {%- if sounds %}
      <h2>Egzempios kon audio</h2>
        <ul>
            {% for person in sounds.keys() %}
                <li><a href="{{ person }}">{{people[person]['nombre']}}</a></li>
            {% endfor %}
                <li><a href="/whatsapeando/">Albert Israel</a> (Estamos Whatsapeando)</li>
                <li><a href="/ufad/">Karen Şarhon</a> (Una fraza al diya)</li>
        </ul>
      {% endif -%}

      <h2>Egzempios</h2>
      <table>
         {% for example in all_examples %}
           <tr>
               <td><a href="/egzempios/{{example['url']}}">{{ example['ladino'] }}</a></td>
               <td>{% if example['audio'] %}🎧{% endif %}</td>
               {% for lang in languages | sort %}
                  <td>{% if example[lang] %}{{lang}}{% endif %}</td>
               {% endfor %}
           </tr>
         {% endfor %}
      </table>
    </div>

{% include 'incl/footer.html' %}
