{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">
      {%- if sounds %}
      <h2>Egzempios kon audio</h2>
        <ul>
            {% for person in sounds.keys() %}
                <li><a href="{{ person }}">{{people[person]['nombre']}}</a></li>
            {% endfor %}
                <li><a href="/whatsapeando/">Albert Israel</a></li>
                <li><a href="/ufad/">Karen Şarhon</a></li>
        </ul>
      {% endif -%}

      <h2>Egzempios</h2>
      <ul>
         {% for example in all_examples %}
           <li>
             <a href="/egzempios/{{example['url']}}">{{ example['example']['ladino'] }}</a> {% if example['example']['bozes'] %}🎧{% endif %}
           </li>
         {% endfor %}
      </ul>
      {%- if extra_examples -%}
      <h2>Otros egzempios</h2>
      <ul>
         {% for example in extra_examples %}
           <li>
             <a href="/egzempios/{{example['url']}}">{{ example['example']['ladino'] }}</a> {% if example['example']['bozes'] %}🎧{% endif %}
           </li>
         {% endfor %}
      </ul>
      {%- endif %}
    </div>

{% include 'incl/footer.html' %}
