{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div>{{person_titulo}}</div>
    <div class="content">
      <table>
         {% for example in examples %}
           <tr>
               <td><a href="/egzempios/{{example['url']}}">{{ example['ladino'] }}</a></td>
               {% for lang in languages | sort %}
                  <td>{% if example[lang] %}{{lang}}{% endif %}</td>
               {% endfor %}
           </tr>
         {% endfor %}
      </table>

    </div>

{% include 'incl/footer.html' %}
