{% include 'incl/header.html' %}

    <div class="content">
        <div>
        {{ example['ladino_html'] | safe }}
        <hr>
        </div>
        {% if example['english'] %}
        <div lan="en"> {{ example['english'] }}</div>
        {% endif %}

        {% if example['turkish'] %}
        <div lan="tr"> {{ example['turkish'] }}</div>
        {% endif %}

        {% if example['spanish'] %}
        <div lan="es"> {{ example['spanish'] }}</div>
        {% endif %}

        {% if example['hebrew'] %}
        <div lan="he"> {{ example['hebrew'] }}</div>
        {% endif %}

        {% if example['french'] %}
        <div lan="fr"> {{ example['french'] }}</div>
        {% endif %}

        {% if example['portuguese'] %}
        <div lan="pt"> {{ example['portuguese'] }}</div>
        {% endif %}

       {%- for boz in example.audio -%}
         <div class="m-2">
           <audio controls>
             <source src="https://audio.kantoniko.com/{{boz.person}}/{{boz.arkivo}}" type="audio/ogg">
             Your browser does not support the audio element.
           </audio>
            <a href="/egzempios/{{boz.person}}">{{people[boz.person]['nombre']}}</a>
         </div>
       {%- endfor %}

        <a href="https://github.com/kantoniko/ladino-diksionaryo-data/blob/main/{{path}}/{{ example['source'] }}">📝</a>
    </div>

{% include 'incl/footer.html' %}
