{% include 'incl/header.html' %}

    <div class="content">
        <div>
        {{ example['ladino_html'] | safe }}
        {%- if example['source'] %}({{ example['source'] }}){% endif %}
        <hr>
        </div>
        {% if example['inglez'] %}
        inglez:
        <div lan="en"> {{ example['inglez_html']  | safe }}</div>
        <hr width="50%">
        {% endif %}

        {% if example['turko'] %}
        turko:
        <div lan="tr"> {{ example['turko_html'] | safe }}</div>
        <hr width="50%">
        {% endif %}

        {% if example['kasteyano'] %}
        kasteyano:
        <div lan="es"> {{ example['kasteyano_html'] | safe }}</div>
        <hr width="50%">
        {% endif %}

        {% if example['ebreo'] %}
        ebreo:
        <div lan="he"> {{ example['ebreo_html'] | safe }}</div>
        <hr width="50%">
        {% endif %}

        {% if example['fransez'] %}
        fransez:
        <div lan="fr"> {{ example['fransez_html'] | safe }}</div>
        <hr width="50%">
        {% endif %}

        {% if example['portugez'] %}
        portugez:
        <div lan="pt"> {{ example['portugez_html'] | safe }}</div>
        <hr width="50%">
        {% endif %}

       {%- for boz in example.audio -%}
         <div class="m-2">
           <audio controls>
             <source src="https://audio.kantoniko.com/{{boz.person}}/{{boz.arkivo}}" type="audio/ogg">
             Your browser does not support the audio element.
           </audio>
            <a href="/egzempios/{{boz.person}}">{{people[boz.person]['nombre']}}</a>
         </div>
       {%- endfor %}

        <a href="https://github.com/kantoniko/ladino-diksionaryo-data/blob/main/{{path}}/{{ example['filename'] }}">📝</a>
    </div>

{% include 'incl/footer.html' %}
