{% include 'incl/header.html' %}

    <div class="content">
       {{ example['example']['ladino_html'] | safe }}
        <a href="https://github.com/djudezmo-org/ladino-diksionaryo-data/blob/main/{{path}}/{{ example['source'] }}">📝</a>
        {% if example['example']['english'] %}
        <div lan="en"> {{ example['example']['english'] }}</div>
        {% endif %}
       {%- for boz in example.example.bozes -%}
         <div>
           <audio controls>
             <source src="https://ladino-sounds.szabgab.com/{{boz.person}}/{{boz.arkivo}}" type="audio/ogg">
             Your browser does not support the audio element.
           </audio>
         </div>
       {%- endfor %}

    </div>

{% include 'incl/footer.html' %}
