{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">
      {%- if sounds %}
      <h2>Egzempios kon audio</h2>
        <ul>
            {% for person in sounds.keys() %}
                <li><a href="{{ person }}">{{people[person]['nombre']}}</a></li>
            {% endfor %}
        </ul>
      {% endif -%}

      <h2>Egzempios</h2>
      <ul>
         {% for example in all_examples %}
           <li>{{ example['example']['ladino_html'] | safe }} <a href="https://github.com/szabgab/ladino-diksionaryo-data/blob/main/words/{{ example['source'] }}">📝</a></li>
         {% endfor %}
      </ul>
      {%- if extra_examples -%}
      <h2>Otros egzempios</h2>
      <ul>
         {% for example in extra_examples %}
           <li>
             {% if example['url'] %}
             <a href="/egzempios/{{example['url']}}">🖱️</a>
             {% endif %}
             {{ example['example']['ladino_html'] | safe }}
             <a href="https://github.com/szabgab/ladino-diksionaryo-data/blob/main/examples/{{ example['source'] }}">📝</a>
           </li>
         {% endfor %}
      </ul>
      {%- endif %}
    </div>

{% include 'incl/footer.html' %}
