{% include 'incl/header.html' %}

<div> Palavras: <input type="radio" name="searchtype" id="multi-search"> Ekspresiones: <input type="radio" name="searchtype" id="single-search"> Mazal: <input type="radio" name="searchtype" id="lucky-search">
    <select id="original-language">
        <option value="automatik">automatik</option>
        <option value="inglez">inglez</option>
        <option value="kasteyano">kasteyano</option>
        <option value="turko">turko</option>
        <option value="fransez">fransez</option>
        <option value="ebreo">ebreo</option>
        <option value="portugez">portugez</option>
        <option value="ladino">ladino</option>
    </select>
</div>
<textarea class="textarea" id="input-text">
</textarea>
<input class="is-hidden" id="input-expression">
<button class="button is-primary is-hidden" id="input-lucky">Mazal</button>
<div id="output"></div>
<article class="message is-hidden" id="welcome-message">
  <div class="message-header">
      <p>Welcome!</p>
  </div>
  <div class="message-body">
  Type in words in any of the following languages: Ladino, English, Spanish, Turkish, French, Portuguese, or Hebrew and we'll do our best to show all the other translations.<br>
  Click on the Ladino words for more details.
  </div>
</article>


<div class="modal" id="game">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div id="game-text"></div>
      <div id="game-translation"></div>
      <div class="control">
        <button class="button is-primary" id="game-reveal">Reveal</button>
      </div>
      <div class="control">
        <button class="button is-primary" id="game-ok">OK</button>
        <button class="button is-primary" id="game-fail">Failed</button>
        <button class="button is-primary" id="game-later">Later</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" id="game-close" aria-label="close"></button>
</div>


<div class="modal" id="config">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      Ke linguas keres ver?
      <div class="control">
        <label class="checkbox"><input type="checkbox" id="enable-inglez"> Inglez </label>
      </div>

      <div class="control">
        <label class="checkbox"><input type="checkbox" id="enable-kasteyano"> Kasteyano </label>
      </div>

      <div class="control">
        <label class="checkbox"><input type="checkbox" id="enable-turko"> Turko </label>
      </div>

      <div class="control">
        <label class="checkbox"><input type="checkbox" id="enable-fransez"> Fransez </label>
      </div>

      <div class="control">
        <label class="checkbox"><input type="checkbox" id="enable-ebreo"> Ebreo </label>
      </div>

      <div class="control">
        <label class="checkbox"><input type="checkbox" id="enable-portugez"> Portugez </label>

      <div class="control">
        <button class="button is-primary" id="cancel-config">Cancel</button>
        <button class="button is-primary" id="save-config">Save</button>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" aria-label="close"></button>
</div>



<script src="/js/ladino.js"></script>
<script src="/js/converter.js"></script>


{% include 'incl/footer.html' %}
