{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>

    <div class="content">
      <ul>
        <li><a href="/egzempios">Egzempios</a></li>
        <li><a href="/words/ladino/">Palavras en ladino</a></li>
        <li><a href="/verbos">Verbos</a></li>
        <li><a href="/sivdades">Sivdades</a></li>
        <li><a href="/idiomas">Idiomas</a></li>
        <li><a href="/nombres">Nombres</a></li>
        <li><a href="/abreviasiones">Abreviasiones</a></li>
      </ul>
    </div>

    <h2><a href="/kategorias/">Kategorias</a></h2>
    <div class="content">
      <ul>
        {% for name in config['kategorias'] %}
          <li><a href="/kategorias/{{name.lower()}}">{{name.capitalize()}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <h2><a href="/origenes/">Origenes</a></h2>
    <div class="content">
      <ul>
        {% for name in config['origenes'] %}
          <li><a href="/origenes/{{name.lower()}}">{{name}}</a></li>
        {% endfor %}
      </ul>
    </div>


    <h2>Listas</h2>
    <div class="content">
      <ul>
        {% for lst in config['listas'].keys() %}
          <li><a href="/{{lst}}">{{lst.capitalize()}}</a></li>
        {% endfor %}
      </ul>
    </div>


{% include 'incl/footer.html' %}

