{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>

    <div class="content">
      <ul>
        <li><a href="/egzempios">Egzempios</a></li>
        <li><a href="/words/ladino/">Palavras en ladino</a></li>
        <li><a href="/dias-de-la-semana">Dias de la semana</a></li>
        <li><a href="/mezes">Mezes del anyo</a></li>
        <li><a href="/sezones">Sezones del anyo</a></li>
        <li><a href="/numeros">Numeros</a></li>
        <li><a href="/puerpo">Puerpo</a></li>
        <li><a href="/sivdades">Sivdades</a></li>
        <li><a href="/paises">Paises</a></li>
        <li><a href="/idiomas">Idiomas</a></li>
        <li><a href="/nombres">Nombres</a></li>
        <li><a href="/frutas">Frutas</a></li>
      </ul>
    </div>

{% include 'incl/footer.html' %}

