{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">

    Estas palavras en ladino se uzan en los egzempios en Kantoniko ama se faltan en el diksionaryo de Kantoniko.

    <table class="table is-striped is-hoverable">
      <thead>
        <tr><th>Palavra</th></tr>
      </thead>
      <tbody>
        {% for word in words | sort %}
          <tr>
          <td>{{ word }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

{% include 'incl/footer.html' %}
