{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">

        Estas {{words|length}} palavras en ladino se uzan en los egzempios en Kantoniko ama se faltan en el diksionaryo de Kantoniko.

    <table class="table is-striped is-hoverable">
      <thead>
        <tr><th>Palavra</th><th>Uzas</th></tr>
      </thead>
      <tbody>
        {% for word in words.keys() | sort %}
          <tr>
          <td>{{ word }}</td>
          <td>
           {%- for url in words[word] | sort   %}
             <a href="{{ url }}?highlight={{word}}">{{loop.index0}}</a>{%- if not loop.last -%}, {% endif -%}
           {% endfor -%}
          </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

{% include 'incl/footer.html' %}
