{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>

    <div class="content">
      <p>
           Numeros sovre el diksionaryo Ladino.
      </p>
      <h2><a href="/words/ladino/">Palavras</a> en ladino i sus traduksiones</h2>
       <table class="table">
         <thead>
           <tr><th></th>
             <th>ladino</th>
             {% for language in languages %}
                  <th>{{ language }}</th>
             {% endfor %}
           </tr>
         </thead>
         <tbody>
           <tr><th>Palavras</th>
                 <td>{{ count.dictionary['ladino'].words }}</td>
             {% for language in languages %}
                 <td>{{ count.dictionary[language].words }}</td>
             {% endfor %}
           </tr>
         </tbody>
       </table>

      <h2><a href="/faltan/ladino">Palavras en ladino ke faltan</a></h2>
      Palavras ke estan uzando en egzempios, mesajes de WhatsApp, afishes ama ke no las tenemos en el diksionaryo.
      <p>
      <b>{{count.missing_ladino_words}}</b>

       <h2><a href="/egzempios/">Egzempios</a> (frazas en ladino)</h2>
       <table class="table">
         <thead>
           <tr><th></th>
             <th>ladino</th>
             {% for language in languages %}
                  <th>{{ language }}</th>
             {% endfor %}
           </tr>
         </thead>
         <tbody>
           <tr><th>Egzempios</th>
                 <td>{{ count.dictionary['ladino'].examples }}</td>
             {% for language in languages %}
                 <td>{{ count.dictionary[language].examples }}</td>
             {% endfor %}
           </tr>
         </tbody>
       </table>


       <h2><a href="/egzempios/">Egzempios</a> kon audio</h2>
       <table class="table">
         <thead>
           <tr><th>Todos</th></tr>
         </thead>
         <tbody>
           <tr><td>{{ count.examples_with_audio }}</td></tr>
         </tbody>
       </table>


       {% if count.whatsapp %}
       <h2><a href="/whatsapeando/">Mesajes de Whatsapeando</a></h2>
       Kada mesaj tiene teksto en ladino. Parte de los mesajes tienen tambien teksto en ebreo. Kada mesaj tiene audio de Albert Israel.
       <table class="table">
         <thead>
           <tr><th>Todos</th><th>Kon ebreo</th></tr>
         </thead>
         <tbody>
           <tr><td>{{ count.whatsapp.all }}</td><td>{{ count.whatsapp.hebrew }}</td></tr>
         </tbody>
       </table>
       {% endif %}

       <h2><a href="/ufad/">Una fraza al dia</a></h2>
       Kada fraza tiene teksto en ladino, kasteyano, inglez, i turko. Kada fraza tiene audio de Karen Şarhon.
       <table class="table">
         <thead>
           <tr><th>Todos</th></tr>
         </thead>
         <tbody>
           <tr><td>{{ count.una_fraza_al_dia }}</td></tr>
         </tbody>
       </table>

       <h2><a href="/afishes/">Afishes</a></h2>
       Afishes de Aldo Sevi de los Ladinadores.
       <table class="table">
         <thead>
           <tr><th>Todos</th></tr>
         </thead>
         <tbody>
           <tr><td>{{ count.afishes }}</td></tr>
         </tbody>
       </table>

    </div>

    <div class="content">
      Generasion en {{start}}.<br>
    </div>

{% include 'incl/footer.html' %}
