{% include 'incl/header.html' %}

    <h1 class="title">{{ title_links | safe }}</h1>
    <div class="content">
        <div>
          {{message['ladino_html'] | safe}}
        </div>
        <div>
          {{message['Ladino'] | safe}}
        </div>
        <div lang="es">
          {{message['Español'] | safe}}
        </div>
        <div lang="en">
          {{message['English'] | safe}}
        </div>
        <div lang="tr">
          {{message['Türkçe'] | safe}}
        </div>
      <div>
        <audio controls>
          <source src="https://ufad.kantoniko.com/ogg/{{message['audio']}}" type="audio/ogg">
          Your browser does not support the audio element.
        </audio>
      </div>
    </div>

    <div class="content">
    <a class="button" href="{{prev_message}}">⬅️</a>
    <a class="button" href=".">⬆️</a>
    <a class="button" href="{{next_message}}">➡️</a>
    </div>

   {% include 'incl/ufad.html' %}

{% include 'incl/footer.html' %}
