{% include 'incl/header.html' %}

  <h1 class="title">{{ title }}</h1>
  <div class="content">

    <table class="table is-striped is-hoverable">
      <thead>
        <tr>
           <th></th>
           <th>Ladino</th>
           <th>Accented</th>
            {%- for lang in languages %}
               <th>{{ lang }}</th>
            {% endfor -%}
        </tr>
      </thead>
      <tbody>
        {%- for word in words -%}
          {%- for version in word['versions'] %}
            <tr>
              <td>
                <a href="/verbos/{{ version['ladino'].lower() }}">{{ version['ladino'] }}</a>
                {% for alt in version['alternative-spelling'] %}<br>{{ alt['ladino'] }}{% endfor %}
              </td>
              <td>
                {{ version['accented'] }}
                {% for alt in version['alternative-spelling'] %}<br>{{ alt['accented'] }}{% endfor %}
              </td>
              {%- for lang in languages %}
                <td>{%- for trans in version.translations[lang] -%}{{ trans }}{%- if not loop.last -%},<br>{% endif -%}{%- endfor %} </td>
              {% endfor -%}
            </tr>
          {% endfor %}
        {%- endfor -%}
      </tbody>
    </table>
  </div>

{% include 'incl/footer.html' %}
