{% include 'incl/header.html' %}

    <h1 class="title">{{ title_links | safe }}</h1>
    <div class="content">

       {% for entry in teksto %}
         <div class="columns">
           <div class="column">
             {{entry['ladino'] | safe}}
           </div>
           <div class="column" lang="he">
             {{entry['ebreo'] | safe}}
           </div>
         </div>
       {% endfor %}
       {% if sound_filename %}
         <div>
           <audio controls>
             <source src="https://whatsapeando.kantoniko.com/sound/{{sound_filename}}" type="audio/ogg">
             Your browser does not support the audio element.
           </audio>
         </div>
       {% else %}
       Sin audio.
       {% endif %}
    </div>

    <div class="content">
    <a class="button" href="{{prev_message}}">⬅️</a>
    <a class="button" href=".">⬆️</a>
    <a class="button" href="{{next_message}}">➡️</a>
    </div>

    {% if img_filename %}
        <img src="https://whatsapeando.kantoniko.com/img/{{img_filename}}">
    {% endif %}

   {% include 'incl/whatsapp.html' %}

{% include 'incl/footer.html' %}
