{% include 'incl/header.html' %}

    <h1 class="title">{{ title_links | safe }}</h1>
    <div class="content">

    <pre>{{text | safe}}</pre>
    <audio controls>
      <source src="https://whatsapeando.szabgab.com/sound/{{filename}}" type="audio/ogg">
      Your browser does not support the audio element.
    </audio>
    </div>

    <div class="content">
    <a href=".">Estamos Whatsapeando</a> de Albert Israel es un grupo de WhatsApp ande el mande estos mesajes.
    Puedes ver los mesajes en <a href="https://ladinokomunita.groups.io/">Lainokomunita</a> on en WhatsApp.
    Mande un mesaje a <a href="https://szabgab.com/contact.html">Gabor</a> kon tu numero telefono si keres
    registrar al grupo de WhatsApp.
    </div>

{% include 'incl/footer.html' %}
