{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">
      <ul>
        {% for message in messages %}
          <li><a href="/whatsapeando/{{message.page}}">{{message.titulo}}</a></li>
        {% endfor %}
      </ul>
    </div>

    <div class="content">
    Estamos Whatsapeando de Albert Israel es un grupo de WhatsApp ande el mande estos mesajes.
    Puedes ver los mesajes en <a href="https://ladinokomunita.groups.io/">Lainokomunita</a> on en WhatsApp.
    Mande un mesaje a <a href="https://szabgab.com/contact.html">Gabor</a> kon tu numero telefono si keres
    registrar al grupo de WhatsApp.
    </div>

{% include 'incl/footer.html' %}
