{% include 'incl/header.html' %}

<h1 class="title">{{ plain_word }}</h1>
<hr>

<div class="content">
  {% for entry in data %}
     <table>
       <tr><td>ladino</td><td>{{ entry.ladino }}</td></tr>
       {%- for boz in entry.bozes -%}
       <tr><td>
           <audio controls>
             <source src="https://ladino-sounds.szabgab.com/{{boz.person}}/{{boz.arkivo}}" type="audio/ogg">
             Your browser does not support the audio element.
           </audio>
           </td><td></td></tr>
       {%- endfor %}
       {% if entry.accented -%}
       <tr><td>kon aksan</td><td>{{ entry.accented }}</td></tr>
       {%- endif %}
       <tr><td>djenero</td><td>{{ entry.gender }} {{ entry.number }}</td></tr>
       <tr><td>orijin</td><td>{{ entry.origen }}</td></tr>
       {% if entry["alternative-spelling"] %}
         <tr><td></td><td>
          {% for alternative in entry["alternative-spelling"] %}
              {{ alternative.ladino }} {% if alternative.accented %}({{ alternative.accented }}){% endif %} {% if not loop.last %},{% endif %}
          {% endfor %}
          </td></tr>
       {% endif %}

       {% for language in entry.translations.keys() | sort %}
          <tr><td>{{ language_names[language] }}</td>
              <td>
                  {% if entry.translations[language] is string %}
                     {{ entry.translations[language] }}
                  {% else %}
                    {% for word in entry.translations[language] %}
                      {{ word }} {% if not loop.last %},{% endif %}
                    {% endfor %}
                  {% endif %}
              </td></tr>
       {% endfor %}
     <tr>
        <td><a href="https://github.com/szabgab/ladino-diksionaryo-data/blob/main/words/{{ entry.source }}">📝</a></td>
        <td></td>
     </tr>
     </table>
     {% if entry.examples %}
        <h2>Egzempios</h2>
        <ul>
         {% for example in entry.examples %}
            <li>{{example.ladino_html | safe}}
                {% if example.english %}
                <ul>
                    <li>{{example.english}}</li>
                </ul>
                {% endif %}

                {%- for boz in example.bozes -%}
                   <br>
                   <audio controls>
                     <source src="https://ladino-sounds.szabgab.com/{{boz.person}}/{{boz.arkivo}}" type="audio/ogg">
                     Your browser does not support the audio element.
                   </audio>
                {%- endfor -%}
            </li>
         {% endfor %}
        </ul>
     {% endif %}

     {% if entry.comments %}
        <h2>Comments</h2>
        <ul>
         {% for comment in entry.comments %}
            <li>{{comment}}</li>
         {% endfor %}
        </ul>
     {% endif %}

     {% if not loop.last %}<hr>{% endif %}
  {% endfor %}
</div>

{% include 'incl/footer.html' %}
