{% include 'incl/header.html' %}

    <h1 class="title">{{ title }}</h1>
    <div class="content">

    <table class="table is-striped is-hoverable">
      <thead>
        <tr><th>Palavra</th><th>Egzempios #</th></tr>
      </thead>
      <tbody>
        {% for word in words.keys() | sort %}
          <tr>
          <td><a href="/{{ word }}">{{ word }}</a></td>
          <td>{{ examples[word] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>

{% include 'incl/footer.html' %}
