name: CI

on:
  push:
#  schedule:
#    - cron: '9 * * * *'
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test code

    steps:
    - name: Install NodeJS
      uses: actions/setup-node@v3
      with:
        node-version: 14

    - name: Checkout ladino-diksionaryo-code
      uses: actions/checkout@v2
      with:
        repository: 'kantoniko/ladino-diksionaryo-code'
        path: .

    - name: Checkout ladino-diksionaryo-data
      uses: actions/checkout@v2
      with:
        repository: 'kantoniko/ladino-diksionaryo-data'
        path: ladino-diksionaryo-data

    - name: Install dependencies
      run: |
          python -V
          pip install -r requirements.txt

    - name: Run tests in Python
      run: |
          pytest -sv --random-order tests/

    - name: Run test in NodeJS
      run: |
          node tests/test_verbs.js

  generate:
    runs-on: ubuntu-latest
    name: Generate HTML
    needs: [test]

    steps:
    - name: Generate HTML
      env:
         PERSONAL_ACCESS_TOKEN: ${{ secrets.PERSONAL_ACCESS_TOKEN }}
      run: |
        curl -X POST \
             -H "Authorization: token $PERSONAL_ACCESS_TOKEN" \
             -H "Accept: application/vnd.github.v3+json" \
             https://api.github.com/repos/kantoniko/ladino-diksionaryo-generated/actions/workflows/ci.yml/dispatches \
             -d '{"ref":"main"}' | tee out.txt
        if [ -s out.txt ]
        then
            exit 1
        else
            exit 0
        fi


